*.xlsx
*.pem
*.dll
*.config
*.manifest
*.testlog
.vs/* 
*.log
*/obj/*
.vs/*
node_modules/*
core/node_modules/*
core/.vs/*
core/src/*.js
core/src/*.js.map
core/test/*.js
core/test/*.js.map
core/coverage/*
core/.nyc_output/*
apisrv/node_modules/*
apisrv/.vs/*
apisrv/*.js
apisrv/*.js.map
apisrv/src/*.js
apisrv/src/*.js.map
apisrv/test/*.js
apisrv/test/*.js.map
apisrv/coverage/*
apisrv/.nyc_output/*
uiapp/node_modules/*
uiapp/.vs/*
uiapp/.jest/
uiapp/*.js.map
uiapp/App.js
uiapp/Theme.js
uiapp/ios/*
uiapp/android
uiapp/windows
uiapp/*.binlog
uiapp/__tests__/*.js
uiapp/__tests__/*.js.map
uiweb/node_modules/*
uiweb/.vs/*
uiweb/*.js
uiweb/*.js.map
uiweb/src/*.js
uiweb/src/*.js.map
uiweb/test/*.js
uiweb/test/*.js.map


