*.xlsx
*.pem
*.dll
*.config
*.manifest
*.testlog
.vs/* 
*.log
*/obj/*
.vs/*
node_modules/*
core/node_modules/*
core/.vs/*
core/src/*.js
core/src/*.js.map
core/test/*.js
core/test/*.js.map
core/coverage/*
core/.nyc_output/*
app/node_modules/*
app/.vs/*
app/*
apisrv/node_modules/*
apisrv/.vs/*
apisrv/*.js
apisrv/*.js.map
apisrv/src/*.js
apisrv/src/*.js.map
apisrv/test/*.js
apisrv/test/*.js.map
apisrv/coverage/*
apisrv/.nyc_output/*
